<div ng-init="jjj()">
	<div map-lazy-load="https://maps.google.com/maps/api/js?key=" style="padding:8px;height:{{mapHeight}}px;">
	  <ng-map center="current-location" style="height:{{mapHeight}}px;">
	   	  <traffic-layer></traffic-layer>
		  <div ng-if="locations.length > 0">
		  	<div ng-repeat="loc in locations">
		  		<div ng-if="indexVal == $index && isCustomer != 1">
		  			<directions
			          travel-mode="DRIVING"
			          origin="current-location"
			          destination={{loc.locationVal}}>
			        </directions>
					<custom-marker id="end"
			          position={{loc.locationVal}}>
			          <div style="width: 40px;height: 40px;border: 5px solid rgb(244,67,54);border-radius: 50px;background-color: black;margin-top: -55px;margin-left: -5px;color: white;text-align: center;vertical-align: middle;font-size: 14px;padding: 0px;">
			          	<div style = "padding-top: 3px;" > {{timeTaken}} <br/> min</div>
			          </div>
			        </custom-marker>
		  		</div>
		  		<div ng-if="indexVal == $index && isCustomer == 1">
		  			<directions
			          travel-mode="DRIVING"
			          origin={{jobLoc}}
			          destination={{loc.locationVal}}>
			        </directions>
			        <custom-marker id="start"
			          position={{loc.locationVal}}>
			          <div style="width: 40px;height: 40px;border: 5px solid rgb(244,67,54);border-radius: 50px;background-color: black;margin-top: -38px;margin-left: -5px;color: white;text-align: center;vertical-align: middle;font-size: 14px;padding: 0px;">
			          	<div style = "padding-top: 3px;" > {{timeTaken}} <br/> min</div>
			          </div>
			        </custom-marker>
		  		</div>
		  		<div ng-if="indexVal != $index && indexVal >= 0">
		  			<custom-marker position={{loc.locationVal}}>
				        <div>
				          <img g="{{loc.status}}" src="assets/img/marker.png"  style="width:30px;height:30px;"/>
				        </div>
			        </custom-marker>
		  		</div>
		  		<div ng-if="indexVal == -1 && loc.isEng">
		  			<custom-marker position={{loc.locationVal}}>
				        <div  ng-show="loc.filter">
						  <div class="engineer-marker-number">{{$index+1}}</div>
				          <img src="assets/img/{{loc.image}}.jpg" ng-show="loc.engStatus == 'A'" style="width:30px;height:30px;border:2px solid green; border-radius: 50px"/>
				          <img src="assets/img/{{loc.image}}.jpg" ng-show="loc.engStatus == 'W'" style="width:30px;height:30px;border:2px solid blue; border-radius: 50px"/>
				          <img src="assets/img/{{loc.image}}.jpg" ng-show="loc.engStatus == 'B'" style="width:30px;height:30px;border:2px solid red; border-radius: 50px"/>
				        </div>
			        </custom-marker>
		  		</div>
		  		<div ng-if="indexVal == -1 && !loc.isEng">
		  			<custom-marker position={{loc.locationVal}} ng-hide="loc.status == 'C'">
				        <div>
							<div class="marker-number">{{loc.jobIndex}}</div>
							<img ng-show="loc.status == 'I'" ng-src="assets/img/marker-un-assigned.png"  class="marker-size-loc"/>
							<img ng-show="loc.status != 'I'" ng-src="assets/img/marker-assigned.png"  class="marker-size-loc"/>
				        </div>
			        </custom-marker>
		  		</div>
		      </div>
			</div>
		</ng-map>
	</div>
	<div class="help" ng-click="legendshow()">
		<i class="icon-info-sign"></i>
	</div>
	<div>
		<div class="legend-map legend-point"></div>
		<div class="legend-map-marker legend-point">
			<div ng-click="closelegend()" class="remove-legend"><i class="icon-remove-sign"></i></div>
			<div class="custom-marker " style="display: inline-block; visibility: visible; position: absolute;">
				<div class="ng-scope">
				<div class="leg-data"> Unassigned </div>
					<div class="marker-number ng-binding">1</div>
					<img src="assets/img/marker-un-assigned.png" class="marker-size-loc" aria-hidden="false">
					
				</div>
				<div class="ng-scope" style="    margin-top: 10px;">
					<div class="leg-data"> Assigned </div>
					<div class="marker-number ng-binding">1</div>
					<img src="assets/img/marker-assigned.png" class="marker-size-loc" aria-hidden="false">
					
				</div>
				</div>
			<div style="top: 15px;right: 150px;position: absolute;">
				<div>
					<img src="assets/img/vignesh.jpg" style="width:30px;height:30px;border:2px solid green; border-radius: 50px" aria-hidden="false" class="">
					<span class="leg-data-user">Free</span>
				</div>
				<div>
					<img src="assets/img/vignesh.jpg" style="width:30px;height:30px;border:2px solid red; border-radius: 50px" aria-hidden="false" class="">
					<span class="leg-data-user">Riding</span>
				
				</div>
				<div>
					<img src="assets/img/vignesh.jpg" style="width:30px;height:30px;border:2px solid blue; border-radius: 50px" aria-hidden="false" class="">
					<span class="leg-data-user">Working</span>			
				</div>
			</div>
		</div>
	</div>
</div>