 <md-tabs flex layout="column" md-selected="selectedIndex" layout-fill class="md-accent" md-align-tabs="{{'bottom'}}" md-stretch-tabs="always">
	<a id="fff" ng-click="audiocall()" >vcxvxc</a>
    <md-tab flex layout="column" label="A" md-on-select="selectCb('DashboardSpeech',1)">
        <md-tab-label>
            <i class="nav-bar-icon icon-dashboard"></i>
        </md-tab-label>
        <md-tab-body flex  layout-fill>                   
              <Dashboard />
        </md-tab-body>      
    </md-tab>
    <md-tab label="B" layout-fill md-on-select="selectCb('MapSpeech',2)">
       <md-tab-label>
           <i class="nav-bar-icon icon-map-marker"></i> 
        </md-tab-label>
        <md-tab-body flex  layout-fill>                   
              <Mapcomponent />
        </md-tab-body> 
    </md-tab>
     <md-tab label="B" layout-fill md-on-select="selectCb('ProductSpeech',3)" ng-if="isUser">
       <md-tab-label>
           <i class="nav-bar-icon icon-shopping-cart"></i>
        </md-tab-label>
        <md-tab-body flex layout-fill style="background: red">                   
               <Product />
        </md-tab-body> 
    </md-tab>
	 <md-tab label="B" layout-fill md-on-select="selectCb('questionSpeech',4)" ng-if="isUser">
       <md-tab-label>
              <i class="nav-bar-icon  icon-youtube-play"></i>
        </md-tab-label>
        <md-tab-body flex layout-fill style="background: red">                   
               <searchcomponent />
        </md-tab-body> 
    </md-tab>
  </md-tabs>
  <div>
    <Speech/>
  </div>