* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-decoration: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:"RobotoDraft", Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.my-datepicker .form-control {
    width: 1px;
}

* .md-focused {
    background-color: rgba(0, 0, 0, 0) !important;
}

md-tabs[md-align-tabs=bottom] md-tabs-wrapper{
        bottom: 56px !important;
}
.nav-bar-icon{
    font-size: 25px;
    color: white;
}
.listbox {
    background: white;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}
.layout-fill {
    background: #eaeaea;
}
.product-container {
    padding: 10px;
	margin-bottom: 56px;
}
.listbox .image-box{
    width: 70px;
    height: 70px;
    background-size: 100% 100%;
        margin-right: 5px;
}
.listbox > div {
        float: left;
}
.listbox .product-desc
{
    padding-left: 5px;
    font-size: 23px;
        border-left: 1px solid #ccc;
    height: 70px;
}
.product-price{
   font-size: 15px;
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    color: #ef2e58;
}
.product-cnt-or-id
{
    position: absolute;
    height: 25px;
    right: 10px;
    top: 16px;
    padding: 10px;
    background: #f3f3f3;
    width: 25px;
    text-align: center;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audio-btn{
       /* position: absolute;
    bottom: 64px;
    right: 20px;
    width: 50px;height: 50px;
    border-radius: 50%;
    background: red;
    text-align: center;*/
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    text-align: center;
}

.audio-btn > i{
    font-size: 26px;
    line-height: 51px;
    color: white;
}

.icon-side-bar{
    width: 30px !important;
    color: black;
    text-align: center;
}
.icon-side-bar > i{
    color: black;
    font-size: 16px;
}
.menu-name-side-bar{
        margin-top: 3px;
}
.dashboard-home{
    height: 160px;
    background: url(../img/background.jpg);
}
.dashboard-box{
    height: 100px;
}
.date-time
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    color: white;
}
.date-container {
        display: table;
    width: 100%;
    height: 100%;
}
highchart {
  display: block;
  width: 100%;
  max-width: 100%;
}
.pop-up-custom{

    position: fixed;
        bottom: 120px;
    width: 96%;
    background: #fff;
    top: 5px;
    left: 7px;
    z-index: 50000000;

}
.pop-up-custom iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.product-pop-up-header{
    background: #448aff;
	font-size:20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}
.title-youtube{
        padding: 5px;
    font-size: 17px;
    font-weight: bold;
}
.desc-youtube{
        padding: 5px;
    font-size: 14px;
}
#top-tabs  > md-tabs-wrapper{
    top: 0px;
}
#top-tabs  > md-tabs-content-wrapper {
    top:48px;
    bottom: 0px;
}
#top-tabs{
    height: 460px;
}
.ticket-list{
   /* height: 60px;*/
}
.ticket-reason{
    padding: 6px 0px 0px 0px;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.md-list-item-text h3 {
    font-weight: bold !important;
}
#home > md-tabs-wrapper {
    display: none !important
}
.speech-text{  
     background: #fff;
    height: 46px;
    width: 80%;
    position: fixed;
    bottom: 8px;
    left: 2%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.speech-text input{
     width: 80%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 2px;
}
.speech-send-icon{
        width: 39px;
    /* height: 100%; */
    margin-top: 5px;
    margin-left: 5px;
}
.speech-container{
        position: fixed;
    bottom: 0;
    height: 62px;
    width: 100%;
    background: transparent;
    background-color: rgba(47, 79, 79, 0.4);
}
.speech-suggestion {
    max-height: 155px;
    width: 80%;
    background: #fff;
    position: fixed;
    bottom: 55px;
    left: 2%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* border: 1px solid #ccc; */
    border-bottom: none;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.speech-text.close{
    border-radius: 25px
}
.speech-text.open{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.speech-suggestion div {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}
.speech-suggestion div:last-child {
    border-bottom: none;
}
.delete-icon{
    position: absolute;
    top: 12px;
    width: 22px;
    right: 12px;
}
md-toast{
    bottom: 60px !important;
}


.deviceReg{
    background-image: url("../../assets/img/background.jpg");
}
.deviceReg .logo{
    width: 100%;
    position: absolute;
    top:10%;
    text-align: center;
}
.deviceReg .logo img{
    width: 100px;
}
.deviceReg .logo .header{
        font-size: .7em;
    color: wheat;
}
.deviceReg .inputwrapper{
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}
.deviceReg .inputwrapper > div:first-child{
    font-size: 0.5em;
    padding-bottom: 10px;
    color: white;
}
.deviceReg .inputwrapper .inputField{
    padding: 10px;
    background-color: white;
    text-align: center;
    border: solid thin gray;
    width: auto;
    display: inline-block;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    font-size: 0.5em;
    vertical-align: text-top;
    outline:none;
}
.registerButton{
        background-color: white;
        color: #de7f00 !important;
        padding: 8px 20px;
        border-radius: 6px;
        border-color: transparent;
        font-size: 0.7em;
    }
    .registerBtnWrapper{
        position: absolute;
        width: 100%;
        top: 80%;
        bottom:8%;
    }
    .regMicBtn{
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-top-right-radius: 100%;
        width: 50px;
        height: 50px;
        background: white;
        outline: none;
    }
    .owl-theme .owl-controls .owl-buttons div{
        background-color: black !important;
        font-size: 0.5em !important;
    }
    .owl-prev.disabled,.owl-next.disabled{
        background-color: #cacaca !important;
    }
    .owl-theme .owl-controls .owl-page span{
        background: white;
        background-color: white;
    }
    @keyframes cardAnim {
    0%   {position:absolute;width:100%; left:0px; top:0px;}
    75% {left:0px; top:-450px;}
    100% {height: 0px;}
}

@keyframes hideRegisterBtnInbottom {
    0%   {bottom: 8%;}
    80% {bottom: 0%;}
    100% {height: 0px;bottom: 0%;}
}

@keyframes hideRegisterInputInbottom {
    0%   { top: 50%;}
    80% {top: 100%;}
    100% {height: 0px;top: 100%;}
}
.registerSuccess{

    animation-duration: 1s;
    animation-delay: 3s;
    animation-timing-function: linear;
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}
.logo,.removeRegister{
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}
.removeInputField{
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}
.removeCard{
    animation-name: cardAnim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;

}
.removeRegister.ng-hide, .removeInputField.ng-hide {
  opacity:0;
  top:100%;
  bottom:0%;
  /* transform: scale(0.8); */
}
.registerSuccess.ng-show{
    opacity: 1;
    top:20%;
}
.logo.successScreen{
    top:3%;
}
.owl-carousel-item{

}
.md-button.md-default-theme:not([disabled]).md-icon-button:hover, .md-button:not([disabled]).md-icon-button:hover{
    background-color: transparent;
}
.owl-carousel-succ-item{
        padding: 20px;
    background-color: rgba(255,255,255,0.1);
    margin: 10px;
}
.registerSuccess.owl-carousel{
    top:25%;
    opacity: 1;
}
.owl-carousel-succ-item{
    font-size: 0.5em;
}
.continuetoDash{
    bottom: 10%;
    text-align: right;
    position: absolute;
    padding: 10px;
    right: 0px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 20px;
}
.continuetoDash a,.continuetoDash a:hover,.continuetoDash a:active{
    color: black;
    font-size: 0.5em;
    text-decoration: none;
}
    @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    
}

@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    
}
.layout-fill {
    background: transparent;
}
.speech-suggestion {
    font-size: 16px
}
.layout-align-center-center>*, .layout-align-end-center>*, .layout-align-space-around-center>*, .layout-align-space-between-center>*, .layout-align-start-center>*
{
    color:white;
}
.query-page{
    background: #fff;
}
.logo-img{
	    width: 45px;
    background: white;
    padding: 5px;
    border-radius: 8px;
}
.logo-img-dashboard{
	    width: 45px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
md-dialog {
font-size:16px;
}
md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 9px 0;
    vertical-align: middle;
}
md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content{background-color:rgba(200,85,0,1);}
md-list-item ._md-no-style, md-list-item._md-no-proxy {
    position: relative;
    padding: 0 0px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.md-button.md-primary.md-register {
    color: #fff !important;
}

.md-button[disabled] {
    opacity:0.5;
}.timer{
	text-align: center;
	position:relative;
}
.timer .flip-clock-divider{
	display:none
}
.timer ul.flip:nth-child(2){
	display:none
}
.timer ul.flip:nth-child(3){
	display:none
}
.full-screen-width{
	    width: 100%;
    height: 100%;
	}
.sos-logo
	{
	    width: 150px;
    height: 150px;
    background: url(../img/sos);
    background-size: 100% 100%;
    position: absolute;
    top: 53%;
    
	}
	.ambulance-fast { 
		   
    
    position: absolute;
    
    top: 33%;
	}
	.emergency-msg{
		text-align: center;
    color: red;
    font-size: 22px;
	}
	.btn-container{
		    bottom: 20%;
    position: absolute;
	    width: 100%;
	text-align:center
	}
	.timer-sec
	{
		position: absolute;
    font-size: 22px;
    margin-top: 32px;
	}
	.address-box
	{
		position: absolute;
    top: 82%;
    width: 97%;
    text-align: center;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
	}
	md-sidenav {
    width: calc(100% - 110px);
    min-width: calc(100% - 110px);
    max-width: calc(100% - 110px);
}

.layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm>*, .layout-padding-md, .layout-padding-md>*, .layout-padding>*, .layout-padding>.flex, .layout-padding>.flex-gt-sm, .layout-padding>.flex-md {
    padding: 0px;
}
html.md-default-theme, html, body.md-default-theme, body {
    color: rgba(0,0,0,0.87);
    background-color:transparent;
	
	   
}
md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: rgba(255,255,255,0.75);
    border-color: rgba(255,255,255,0.18);
	font-size: 100%;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgba(255,255,255,0.55);
	font-size: 90%;
}
md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme ._md-placeholder, md-input-container ._md-placeholder {
    color: rgba(255,255,255,0.55);
	font-size: 90%;
}
md-input-container.md-default-theme.md-input-invalid label, md-input-container.md-input-invalid label {
    color: rgba(221,44,0,0.85);
}
md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: rgba(221,44,0,0.67);
}

.centerflex{
	display: flex;
  align-items: center;
  justify-content: center;
}
.hidden{
	visibility: hidden;
}