<div>
	<div ng-show="speechlisten" class="speech-gif"></div>
	<div class="speech-container">
		<div class="speech-suggestion" ng-if="suggestionText.length > 0">
			<div ng-repeat="suggest in suggestionText" ng-click="appendInput(suggest.index)" >{{suggest.text}}</div>
		</div>	
		<div class='{{suggestionText.length > 0?"speech-text open":"speech-text close"}}'>
			<input typr="text" ng-model="seachtext" placeholder="Type a text here" />
			<img  ng-hide="showaudio" ng-click="clearTextbox()" class="delete-icon" src="assets/img/icon-trash-b-128.png" />
		</div>
		<div class="audio-btn" ng-show="showaudio" ng-click="audioinput()">
			<i class="icon-microphone"></i>
		</div>
		<div class="audio-btn" ng-hide="showaudio" ng-click="textinput()">
			<img class="speech-send-icon" src="assets/img/send.png" />
		</div>
	</div>
	<a id="calladmin" href="tel:8903639221" style="visibility:hidden;height:0"></a>
</div>