<div class="product-container">
	<div class="listbox">
		<div class ="image-box" style="background: url(https://www.w3schools.com/angular/pic_angular.jpg);background-size: 100% 100%;">
		</div>
		<div  class="product-desc">
			<div style="width:{{productWidth}}px" class="truncate">Nokia Lumia 800 zxcvxcvxc xcvxcv xcvxcv xcvxcvxcv cxvxc</div>
			<div class="product-price"><i class="icon-inr"></i>&nbsp;700</div>
			<div class="product-cnt-or-id">
				3
			</div>
		</div>
	</div>

</div>