<div class="product-container">
	<div class="listbox" ng-repeat="prod in product">
		<div class ="image-box" style="background: url({{prod.productBaseInfo.productAttributes.imageUrls['200x200']}});background-size: 100% 100%;background-size: contain;background-repeat: no-repeat;background-position: center;">
		</div>
		<div  class="product-desc">
			<div style="width:{{productWidth}}px" class="truncate">{{prod.productBaseInfo.productAttributes.title}}</div>
			<div class="product-price"><i class="icon-inr"></i>&nbsp;{{prod.productBaseInfo.productAttributes.maximumRetailPrice.amount}}</div>
			<div class="product-cnt-or-id">
				{{$index + 1}}
			</div>
		</div>
	</div>

</div>