<div>
    <md-toolbar flex style="display:none;">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="head.toggle()">
                <md-icon>menu</md-icon>
            </md-button>
            <p>{{ title }}</p>
            <div style="width: 40px; height: 40px;"></div>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-left" md-component-id="left">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-list ng-cloak>
            <md-list-item ng-click="tabclick(0)">
                <div class="icon-side-bar"><i class="nav-bar-icon icon-dashboard"></i></div>
                <p class="menu-name-side-bar">Dashboard</p>
            </md-list-item>
            <md-list-item ng-click="tabclick(1)">
                <div class="icon-side-bar"><i class="nav-bar-icon icon-map-marker"></i></div>
                <p class="menu-name-side-bar">Map</p>
            </md-list-item>
            <md-list-item ng-click="tabclick(2)">
                <div class="icon-side-bar"><i class="nav-bar-icon icon-shopping-cart"></i></div>
                <p class="menu-name-side-bar">Product</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
</div>