<div>
	<div class="dashboard-home">
	</div>
	<div  layout="row" class="dashboard-box">
			<!--<div flex="30" class="dashboard-tile" style="background: #8b5820;">
					<div class="date-container">
						<div class="date-time">19 <br/> Monday</div>
					</div>
			</div>-->
			<div flex="40" class="dashboard-tile" style="background: #e4b237;">
				
			</div>
			<div flex="40" class="dashboard-tile" style="background: #f6a500;">
				<div class="date-container">
						<div class="date-time">Current call <br/>15:33:45</div>
				</div>
			</div>
			<div flex="40" class="dashboard-tile" style="background: #c43a35;">
				<div class="date-container">
						<div class="date-time">
								Next call <br/>15 KM <br/>
								03:45 PM
						</div>
				</div>
			</div>
	</div>
</div>