<div ng-init="heigthCal()">
    <div>
		<div class="product-container">
			<div ng-if="product.length > 0" style="height:{{containerHeight}}px;overflow: auto;">
				<div class="listbox" ng-repeat="prod in product">
					<div class ="image-box" style="background: url({{imagesplit(prod.productBaseInfo.productAttributes.imageUrls)}});background-size: 100% 100%;background-size: contain;background-repeat: no-repeat;background-position: center;">
					</div>
					<div  class="product-desc">
						<div style="width:{{productWidth}}px" class="truncate">{{prod.productBaseInfo.productAttributes.title}}</div>
						<div style="font-size: 13px;text-align: right;color: blue;">Deliver soon</div>
						<div class="product-price"><i class="icon-inr"></i>&nbsp;{{prod.productBaseInfo.productAttributes.maximumRetailPrice.amount}}</div>						
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
<Speech/>