<div class="full-screen-width">
	<div class="timer" ng-show="sosInit && onstart">
		<flip-clock countdown="true" clockFace="MinuteCounter" time={{sosTime}} ></flip-clock>		
	</div>
	<div class="emergency-msg" ng-hide="sosInit">
		Don't panic.our ambulance on the way.
	</div>
	<div class="sos-logo" ng-show="sosInit" ng-click="sosClick()"></div>
	<div class="ambulance-fast" ng-hide="sosInit"></div>
	<div class="btn-container" ng-hide="sosInit">
		<button style="background: red;" class="btn waves-effect waves-light" type="submit" name="action" ng-click="cancelsos()">Cancel SOS </button>
  </div>
</div>
